---
- name: Deploy Prometheus config from template
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    mode: "0644"
  
- name: restart prometheus
  systemd:
    name: prometheus
    state: restarted
